<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <h3 class="modal-title text-center" id="myModalLabel">{{video.title}}</h4>
</div>
<div class="modal-body">

  {% if (not is_local_ip)
    and video.youtube_url %}
    <div class="embed-responsive embed-responsive-16by9">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/{{video.youtube_url}}" frameborder="0" allowfullscreen class="embed-responsive-item"></iframe>
    </div>
  {% else %}
    <video id="modalPlayer" width="100%" controls>
      <source src="videos/{{video.src}}" type="{{video.type}}">
      {% if video.sub is defined %}
        {% for sub in video.sub %}
          <track src="videos/{{sub.file}}" kind="subtitles" srclang="{{sub.lang}}" label="{{sub.label}}" {% if sub.default %} default {% endif %}/>
          }
        {% endfor %}
      {% endif %}
    </video>
  {% endif %}
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">
    Fermer la vidéo
  </button>
</div>
